/*
    1. Main
    2. Rectangle
    3. Typography
    4. Buttons
    5. Layout

====================
    1. Main
====================
*/

:root{
    --btn-deep-blue:#4088fb;
    --btn-light-blue:#4796e0;
    --gray:#6B7E8D;
    --blue:#4796e0;
    --magenta:#A84165;
    --magenta-light:#b8476f;
}

html{
    height:100%;
    width:100%;
}

body {
    background: #092756;
    background: -webkit-radial-gradient(0% 100%, ellipse cover, #973e5466 10%,#8a724c00 40%), linear-gradient(to bottom,  #39addb40 0%,#2a3c5766 100%), linear-gradient(135deg,  #860a0e 0%,#092756 100%);
    font-family: 'Ubuntu', sans-serif;
    background-size: 150%;
    animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
    0%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}


/*  
====================
    2. Rectangle
====================
*/

#container{
    background-color: white;
    margin: 7em auto;
    border-radius: 1.2em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.54);
    position:absolute;
    top:35%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#container>#createVote{
    width: 600px;
    height: 840px;
}

#container>#votingPage{
    width: 500px;
    height: 480px;
}


/*  
====================
    3. Typography
====================
*/

.header {
    text-align: center;
    color: #6b7e8d;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 200%;
    padding-top: 4%;
    margin-bottom: 3%;
}

.subHeader {
    text-align: left;
    color: #231F20;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 100%;
    padding-left:12%;
    margin-bottom: 1%;
}

#question~br~br~.subHeader{
    margin-top: 5%;
}

#voteSmallHeader.smallHeader{
    padding-left:16%;
}
#procurationSmallHeader.smallHeader{
    padding-left:9%;
}

/* Affichage de Voters*/
#addOption{
    margin-bottom: -150px;
}

/*text for adresse + procuration*/
.caption{
    text-align: left;
    color: #231F20;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    font-size: 15px;
    padding-left:3rem;
    margin-bottom: 10px;
}

#owner, textarea{
    font-family: 'Ubuntu', sans-serif;
    background: rgb(236, 236, 236);
    color: rgb(133, 133, 133) !important;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
}

textarea{
    resize:none;
    text-align: left;
    letter-spacing: 1px;

    border-radius: 5px;
    border: 2px solid rgb(231, 231, 231);

    padding: 10px 10px;
    margin-left:70px;
    margin-top:-10px;
    margin-bottom: -37px;
    width:72%;
}

textarea#questionID{
    width:67%;  
}

.voteOption, .voters{
    font-family: 'Ubuntu', sans-serif;
    color: rgb(133, 133, 133) !important;
    font-size: 90%;
    text-align: center;
    letter-spacing: 1px;
    background: rgb(236, 236, 236);
    
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    border: 2px solid rgb(231, 231, 231);
    
    padding: 5px 10px;
    margin-bottom:.5%;
    margin-left: 12%;
    width: 75%;
}
.voters{
    width:70%;
}

/*Text for organisateur*/
#owner{
    text-align: center;
    
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid rgb(231, 231, 231);
    
    padding: 5px 10px;
    margin-top:2px;
    margin-bottom:2px;
    margin-left: 70px;
    width: 76%;
}

#voterID, #voteCode, #voteProcuration{
    text-align: left;
    border-radius: 5px;
    border: 2px solid rgb(231, 231, 231);
    
    padding: 5px 5px;
    margin-top:2px;
    margin-bottom:2px;
    margin-left: 60px;
    width:40%;
}

#voteCode{
    margin-left:14px;
    width:10%;
}

#voteProcuration{
    margin-left:5%;
    width:5%;
}

/*  
====================
    4. Buttons
====================
*/

.submit {
    cursor: pointer;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    border: 0;
    border-radius: 5em;
    background: linear-gradient(var(--btn-deep-blue), var(--btn-light-blue));
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 275px;
    position: absolute;
    top:50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
#inscription>.submit{
    margin-top: 155px;
}
.submit:hover {
    color:rgb(255, 255, 255);
    background:linear-gradient(#3976d8,#3a7ab6);
}

#voter.submit{
    margin-top:170px;
}

.btn-tools{
    cursor: pointer;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    border: 0;
    border-radius: 5em;
    background: linear-gradient(var(--magenta-light), var(--magenta));

    padding:10px 12px;
    margin-top:0%;
    margin-left:14px;

    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.btn-tools:hover{
    color: white;
    background: linear-gradient(var(--magenta), var(--magenta));
}

.exit {
    background:none;
    border:none;
    padding:0!important;

    cursor: pointer;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(81, 121, 195);
    text-decoration: underline;
    text-align: right;

    margin-top: 67%;
    position: absolute;
    top:50%;
    right:5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.exit:hover {
    color: rgb(131, 169, 240);
}

#votingPage>.exit{
    margin-top:210px;
}

.btn-addRmv{
    cursor: pointer;
    color: var(--magenta);
    font-size: 1.2em;
    border:none;
    border-radius: .2em;
    background: white;

    padding: .1em .5em;
    
    box-shadow: 2px 2px 2px 1px #ebebeb;
}

.btn-addRmv:hover,
.btn-addRmv:focus{
    color:white;
    background-color: #A84165;
}

/*  
====================
    5. Layout
====================
*/

.optionsListContainer{
    overflow:auto;
    height:140px;
}

#dispAdresse{
    margin-left:5%;
}

#dispProcuration{
    margin-left:290px;
}

.votersListContainer{
    overflow: auto;
    height:100px;
}

/* affichage des tools*/
.toolsContainer{
    margin-top:13%;
}

#OptionList{
    overflow:auto;
    height:70px;
    margin-left:40%;
}

#chooseVoteContainer{
    margin-top:10%;
}