.logo{
    width: 100px;
    height: 40px;
}
.logo:hover{
filter:drop-shadow(1px 1px 3px black);
}
button{
    border: 1px solid rgb(0,0,0,0.3);
    cursor:pointer;
    background:#ddd;
    transition-duration: 0.5s;
}
button:hover{
    background:#fff;
}
.btnsOption{
    width: 120px;
    height: 40px;
}
table{
    border-collapse:collapse;
    border:1px solid #FF0000;
}
    
table td{
    border:1px solid #FF0000;
}
textarea{
    resize: none;
}